@media screen and (max-width: 700px) {
    #topnav {
        display: none;
    }

    #bars {
        display: block;
    }

    .block {
        grid-template-columns: 100%;
        padding: 0;

        .words {
            padding: 30px;

            div {
                margin: 0;
                padding: 10px 10px;
            }
        }
    }
}